.about {
  background-size: 100%;
  font-family: $heading-font;
  font-weight: 400;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 167px 135px 135px 40px;
  grid-template-areas: "header-text" "." "." "button";

  @media (min-width: $tablet-width) {
    grid-template-rows: 263px 54px 526px;
    grid-template-areas: "header-text" "." "button";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: calc((100% - 1220px) / 2) repeat(4, 1fr) calc((100% - 1220px) / 2);
    grid-template-rows: 140px 312px 240px;
    grid-template-areas: ". . . . . ." ". header-text header-text . . ." ". button button . . .";
  }
}

.about::before {
  content: "";
  background-color: #68b738;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    grid-column: 4 / span 3;
    grid-row: 1 / span 3;
  }
}

.about__description {
  grid-area: header-text;
  padding: 25px 35px 25px;
}

.about__title {
  font-family: $heading-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 25px 35px 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    color: black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.about__slogan {
  font-size: $main-font-size;
  line-height: 14px;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    color: black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.about__image {
  align-self: center;
  justify-self: center;
  width: 280px;
  height: 270px;
  grid-column: 1 / -1;
  grid-row: 2 / span 2;

  @media (min-width: $tablet-width) {
    grid-row: 2 / span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / span 3;
    width: 552px;
    height: 499px;
  }
}

.about__image img {
  max-height: 100%;
}

.about__select {
  grid-area: button;
  justify-self: center;
  text-decoration: none;
  color: $button-color;
  font-size: $main-font-size;
  line-height: $main-lineheight;
  display: inline-block;
  background-color: $button-background-color;
  padding: 13px 58px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 20px 20px 0;
  width: 280px;
  height: 40px;
}
