.additional {
  //Nothing
}

.additional__topic {
  font-family: $title-catalog-font;
  font-size: $header-2-catalog-font-size;
  font-weight: 400;
}

.additional__list {
  //Nothing
}

.additional__item {
  //Nothing
}
