.animal-icon {
  padding-bottom: 100%;
  position: relative;
  background-color: $color-basic-green;
  border-radius: 50%;


  &--slim {
    @media (min-width: $desktop-width) {
      left: 18%;
    }
  }

  &--pro {
    @media (min-width: $desktop-width) {
      right: 2%;
    }
  }
}

.animal-icon__image {
  position: absolute;
  left: 53%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 110%;
  width: 134%;
  max-width: unset;
}
