.directions {
  margin-top: 22px;

  @media (min-width: $desktop-width) {
    margin-top: 82px;
  }
}

.directions__list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.directions__item {
  background-color: $color-basic-grey;
  padding: 20px;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding: 77px 61px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 51px 55px 51px;
  }
}
