.directions {
  //Nothing
}

.directions__list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    grid-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }
}

.directions__item {
  background-color: $color-basic-grey;
  padding: 20px;
  padding-top: 32px;
}

.direction-card {
  grid-template-areas: "ico title" "text text" "link link";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-areas: "text ico" "link link";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
  }
}

.direction-card__icon {
  grid-area: ico;
  position: absolute;
}

.direction-card__title {
  grid-area: title;
  font-family: $heading-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    grid-area: text;
  }
}

.direction-card__title::before {
  position: absolute;
  display: block;
  width: 20px;
  height: 10px;
  top: -20%;
}

.direction-card__text {
  grid-area: text;
  font-family: $main-font;
  font-weight: 500;
  font-size: $main-font-size;
  line-height: 18px;
  color: $color-special-dark-grey;
  border-bottom: 1px solid $direction-card-text-color;
  padding: 18px 0 20px 0;

  @media (min-width: $tablet-width) {
    grid-area: text;
  }
}

.direction-card__link {
  grid-area: link;
  display: block;
  padding: 5px 0 3px;
  margin: 0;
  position: relative;
  color: $color-black;
  text-decoration: none;
  font-family: $heading-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.direction-card__link::after {
  content: url("../img/right.svg");
  display: block;
  width: 25px;
  height: 30px;
  position: absolute;
  left: 42%;
  top: 7%;
}
