.fields-list {
  display: grid;
  grid-row-gap: 13px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: $main-form-tablet-font-size;
  }

  &--add {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
