.header {
  display: grid;
  grid-template-columns: 66px 1fr 66px;
  grid-template-rows: 66px auto;
  grid-template-areas: "logo-image logo-text nav-toggler" "nav nav nav";
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 174px 1fr;
    grid-template-rows: 52px;
    grid-template-areas: "logo-image nav";
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: calc((100% - 1220px) / 2) 202px 1fr calc((100% - 1220px) / 2);
    grid-template-rows: 52px;
    grid-template-areas: ". logo-image  nav .";
    padding-top: 54px;
  }
}

.header__logo-image {
  grid-area: logo-image;
  align-self: center;
  justify-self: center;

  @media (min-width: $desktop-width) {
  margin-top: 11px;
  }
}

.header__logo-image img {
  width: 100%;
}

.header__logo {
  grid-area: logo-text;
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo img {
  width: 100%;
}

.header__menu-button {
  grid-area: nav-toggler;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__menu-button img {
  width: 18px;
  height: 18px;
}

.header__navigation {
  grid-area: nav;
  align-self: center;
}
