.header {
  display: grid;
  grid-template-columns: 66px 1fr 66px;
  grid-template-rows: 66px auto;
  grid-template-areas: "logo-image logo-text nav-toggler" "nav nav nav";
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 174px 1fr;
    grid-template-rows: 52px;
    grid-template-areas: "logo-image nav";
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: calc((100% - 1220px) / 2) 202px 1fr calc((100% - 1220px) / 2);
    grid-template-rows: 52px;
    grid-template-areas: ". logo-image  nav .";
    padding-top: 56px;
    padding-bottom: 54px;
  }
}

.header__logo-image {
  grid-area: logo-image;
  align-self: center;
  justify-self: center;

  @media (min-width: $desktop-width) {
  margin-top: 11px;
  }
}

.header__logo-image img {
  width: 100%;
}

.header__logo {
  grid-area: logo-text;
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__logo img {
  width: 100%;
}

.header__menu-button {
  grid-area: nav-toggler;
  align-self: stretch;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='-0.75' x2='24.7577' y2='-0.75' transform='matrix(0.686589 -0.727046 0.686589 0.727046 2.00171 20)' stroke='black' stroke-width='1.5'/%3E%3Cline y1='-0.75' x2='24.7577' y2='-0.75' transform='matrix(0.686589 0.727046 -0.686589 0.727046 1 2)' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &--closed {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1.25' x2='24' y2='1.25' stroke='black' stroke-width='1.5'/%3E%3Cline y1='9.25' x2='24' y2='9.25' stroke='black' stroke-width='1.5'/%3E%3Cline y1='17.25' x2='24' y2='17.25' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  }
}

.header__menu-button img {
  width: 18px;
  height: 18px;
}

.header__navigation {
  grid-area: nav;
  align-self: center;
  border-bottom: 1px solid #E6E6E6;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  &--closed {
    @media (max-width: #{$tablet-width - 1}) {
      display: none;
    }
  }
}
