.navigation {
  //Nothing
}

.navigation__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: right;
    justify-content: space-between;
  }
}

.navigation__item {
  @media (min-width: $tablet-width) {
    display: inline-flex;

    & + .navigation__item {
      margin-left: 35px;
    }
  }
}

.navigation__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: $heading-font;
  font-weight: 400;
  font-size: 20px;
  color: $color-black;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: none;
    border-bottom: 2px solid transparent;
  }

  &--current {
    @media (min-width: $tablet-width) {
      border-bottom: 2px solid #68b738;
    }
  }

  &--white-on-desktop {
    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }

  &--white-on-desktop.navigation__link--current {
    @media (min-width: $desktop-width) {
      border-bottom: 2px solid #ffffff;
    }
  }
}
