.navigation {
  //Nothing
}

.navigation__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    // margin-top: 70px;
    text-align: right;
  }
}

.navigation__item {
  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    margin: 0 32px 0 0;
  }
}

.navigation__item:nth-child(1) {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 25px 0 20px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $navigation-border-color;
    border-top: none;
    padding: 0;
  }
}

.navigation__item:nth-child(2) {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0 20px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding: 0;
  }
}

.navigation__item:nth-child(3) {
  padding: 25px 0 20px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding: 0;
  }
}

.navigation__link {
  text-decoration: none;
  font-family: $heading-font;
  font-weight: 400;
  font-size: 20px;
  color: $color-black;
  line-height: 20px;
  text-transform: uppercase;

  &--white-on-desktop {
    @media (min-width: $desktop-width) {
      color: white;
    }
  }
}
