.page {
  // Nothing
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 400;
  font-size: $main-font-size;
  line-height: $main-lineheight;
  color: $color-special-dark-grey;
}

.page__header {
  // Nothing
}

.page__main {
  // Nothing
}

.page__footer {
  // Nothing
}
