.products {
  //Nothing
}

.products__header {
  font-family: $header-catalog-font;
  font-size: $header-catalog-font-size;
  color: $color-black;
  font-weight: 400;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
