.programms {
  margin-left: 70px;
  margin-right: 30px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: calc((100% - 1220px) / 2) repeat(2, 1fr) calc((100% - 1220px) / 2);
    grid-template-areas: "header ." "text ." "user-info check-programm" "contacts contacts" "comment comment" "add add";
  }
}

.programms__item {
  font-family: $heading-font;
  font-size: $header-form-font-size;
  color: $color-black;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: $header-form-tablet-font-size;
  }

  @media (min-width: $desktop-width) {
    grid-area: header;
  }
}

.programms__description {
  font-family: $heading-font;
  font-size: $main-form-font-size;
  color: $color-black;
  text-transform: uppercase;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: $form-title2-font-size;
    line-height: 30px;

    @media (min-width: $desktop-width) {
      grid-area: header;
    }
  }
}

.programms__form {
  //Nothing
}

.programms__list {
  list-style-type: none;
}

.programms__footer {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

.programms__button {
  padding: 15px 60px;
  margin-top: 20px;
}

.programms__glose {
  font-family: $main-font;
  font-size: 14px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-left: 60px;
  }
}
