.programms-form {
  //Nothing
}

.programms-form__fieldset {
  border: 0 none;
}

.programms-form__fieldset--user {
  //Nothing
}

.programms-form__fieldset--check {
  //Nothing
}

.programms-form__fieldset--contacts,
.programms-form__fieldset--add {
  @media (min-width: $desktop-width) {
    border-top: 2px solid $programms-form-border-color;
  }
}

.programms-form__fieldset-legend {
  display: flex;
  font-family: $heading-font;
  font-size: $title-form-font-size;
  margin-bottom: 35px;
  padding: 0;
  align-items: center;

  &::after {
    content: "";
    display: flex;
    height: 2px;
    background-color: $programms-form-border-color;
    flex-grow: 1;
    margin-left: 20px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: $title-form-tablet-font-size;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    padding: 0 15px;
  }
}
