.socials-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid $socials-list-border-color;
  border-top: 1px solid $socials-list-border-color;
  padding: 20px 50px;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.socials-list__item {
  & + .socials-list__item {
    margin-left: 15px;
  }
}

.socials-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
}
