// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// Color system
$color-black:               black;
$color-blue:                blue;
$color-basic-green:         #68b738;
$color-basic-green-2:       #5eaa2f;
$color-basic-grey:          #f2f2f2;
$color-basic-grey-2:        #ebebeb;
$color-basic-grey-light:    #e6e6e6;
$color-special-grey:        #cdcdcd;
$color-special-grey-2:      #666666;
$color-special-dark-grey:   #444444;
$color-special-dark-grey-2: #222222;
$color-status-error:        #ff8282;

// Shadows system
$shadow-normal: 0 1px 3px rgba(black, 0.16);
$shadow-hover: 0 2px 4px rgba(black, 0.19);
$shadow-normal: 0 3px 5px rgba(black, 0.2);

// Fonts system
$main-font: "Arial", sans-serif;
$main-font-size: 14px;
$main-lineheight: 18px;
$heading-font: "Oswald", sans-serif;

// Button
$button-background-color: $color-basic-green;
$button-background-color-gray: $color-basic-grey;
$button-background-hover-color-gray: $color-basic-grey-2;
$button-color: white;
$button-color-gray: $color-special-dark-grey;
$button-background-color--hover: $color-basic-green-2;
$button-font: $heading-font;
$button-font-size: 20px;

// Navigation
$navigation-border-color: $color-basic-grey-light;

// Example
$example-background-color: #eaeaea;

// Footer
$footer-invitation-color: #111111;

// Direction
$direction-card-text-color: $color-basic-grey-light;

// Socials-list
$socials-list-border-color: $color-basic-grey-light;

// Slider
$slider-border-color: $color-special-grey;

// Form
$main-form-font-size: 16px;
$title-form-font-size: 24px;
$header-form-font-size: 36px;

// Field
$field-label-font: $heading-font;
$field-label-color: $color-special-dark-grey;
$field-border-color: $color-special-grey;
$field-symbol-color: $color-basic-green;

// Catalog
$main-catalog-font-size: 12px;
$title-catalog-font-size: 16px;
$header-2-catalog-font-size: 24px;
$header-catalog-font-size: 36px;
$main-catalog-font: $main-font;
$title-catalog-font: $heading-font;
$header-catalog-font: $heading-font;
$title-catalog-color: $color-special-dark-grey-2;
$main-catalog-color: $color-special-dark-grey;
